<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li><a ui-sref="dashboard.about">Dashboard</a></li>
                <li>
                    <a ng-href="mailto:michael@mferro.com?Subject=Your%20Weather" target="_top" ng-bind-html="vm.navline.text"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>