<div ng-controller="ShellController as vm">
  <!-- <header class="clearfix"> -->
  <header class="clearfix">
  
    <!-- <ht-top-nav navline="vm.navline"></ht-top-nav> -->
    <ht-top-nav navline="vm.navline"></ht-top-nav>
    
  </header>
  <section id="content" class="content">
    <!-- <div ng-include="'app/layout/sidebar.html'"></div> -->
    <div ui-view class="shuffle-animation"></div>
  </section>
</div>