<div>
  <label class="dropdown-dir-label"  for="">Select another city:</label>
  <div ng-cloak>
    <select ng-model="selected" ng-options="selection.name for selection in selections">
      <option value="">Choose a city</option>
    </select>
  </div>
</div>


