<div class="gallery-container" ng-controller="GalleryController as gc" >
  <div class="row col-md-12">
    <div class="bg">
      <div class="mainimageshell">
        <div class="viewwindow">
          <div class="forecast-heading">
            <div>Five-day weather forcast for</div>
          </div>
          <div class="city">{{gc.data.data.city.name}}, <br />{{gc.data.data.city.country}}</div>
          <div class="city-dropdown-container">
            <dropdown selections="gc.cities" callback="gc.setCityDetails"></dropdown>
          </div>
        </div>
      </div>
      <!-- Display dateTime abbreviated section -->
      <div class="captionshell">
        <div ng-if="gc.data">
          <div>
            <div class="object-title" ng-repeat="daytime in gc.data.data.list"
              ng-click=gc.handleDateTimeDetails(daytime.main)>
              <h6>{{daytime.dt_txt | amCalendar:referenceTime:formats }}</h6>
              <div ng-repeat="(key, value) in daytime.weather">
                <h4>{{value.main}}</h4>
                <h6>Wind: {{daytime.wind.speed}} from {{daytime.wind.deg}}</h6>
                <h6>{{value.description}}</h6>
                <img class="weather-icon" ng-src="{{gc.getImage(daytime.weather)}}" ng-cloak />
              </div>
            </div>
          </div>
        <p class="object-title" ng-bind-html="gc.data.list[0].dt"></pr></div>
        <p ng-bind-html="gc.physical_description"></p>
        <p ng-bind-html="gc.public_access_description"></p>
      </div>
      <artifact-result-details
        results-details="gc.resultsDetails"
      </artifact-result-details>
      <div style="clear:both;"></div>
    </div>
  </div>