<div>
  <div class="results-shell">
    <div class="results-wrapper">
      <div>
        <h5>Detailed results</h5>
        <div ng-if="!resultsDetails">
          <h6 class='warning'>Click on any day for details</h6>
        </div>
      </div>
      <div>
        <div ng-repeat="(key, value) in resultsDetails track by $index">
          <div ng-if="value">
            <section class="result-units">
              <div class="search-keys">{{key}}:</div>
              <div class="results-text"><p>{{value}}</p></div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>