<div class="col-md-6">
  <article class="about-text">
    <h1>About Your Weather</h1>
    <label>Your Weather is an Angular application demo utilizing
    <a href="http://openweathermap.org" target="_blank">openweathermap.org's</a> API as a datasource</label>
    <p>This application has been implemented with a primary view towards best practices in regards to code organisation, object-oriented principles, full-stack directory structuring with an aim towards large- scale extensibility, along with the intention towards it being easily maintainable in long-term development use.</p>
    <p>The application handles all communication under JSON asynchronously. It will get a five-day weather forcast for a particular city, display a summary, and show details for that particular forecast when the summary is clicked.</p>
    <p>To begin, simply click on the Forecast button above.</p>
  </article>
</div>
<img id="fullsize" ng-src="images/weather-surf.jpeg" ng-cloak />