<div class="jumbotron text-center">
  <h1>Your Weather</h1>
  <p>Welcome to your personal weather forecast</p>
  <a ui-sref=".about" id="about-state" class="btn btn-primary">About</a>
  <a ui-sref=".tutorial" class="btn btn-primary">Tutorial</a>
  <a ui-sref=".gallery" class="btn btn-danger">Forecast</a>
</div>

<div ng-show="vm.showSplash()">
  <video autoplay loop id="video-background" muted>
    <source src="videos/skyVid.mp4">
  </video>
</div>
<div ui-view></div>