<div class="col-md-10 centered">
  <label id="tutorial-sample-header">Sample forecast results</label>
  <img id="gallery-sample" ng-src="images/gallery-sample.png" ng-cloak />
  <div class="col-md-4 pull-right">
    <h4>Getting Started</h4>
    <uib-accordion close-others=true >
    <uib-accordion-group heading="{{group.title}}" ng-repeat="group in vm.groups">
    {{group.content}}
    </uib-accordion-group>
    </uib-accordion>
  </div>
</div>