body {

  font-family: Helvetica,Arial;
  font-size: 10pt;
  background-color:#8B8378;
  color:#666;
}

li {
  list-style:none;
  display:inline-block;
}

ul{
  padding:0;
  margin:0;
  white-space:nowrap;
}

.bg {
  background-color:#2E281B;
  padding: 10px 0px 10px 10px;
  border-radius:8px;
  width: 950px;
  float:left;
}

.search-gradient {
  background: #FF6B09; /* For browsers not supporting gradients */
  background: -webkit-linear-gradient(left, #FF6B09 , #E3D149);
  background: -o-linear-gradient(right, #FF6B09 , #E3D149);
  background: -moz-linear-gradient(right, #FF6B09 , #E3D149);
  background: linear-gradient(to left, #FF6B09 , #E3D149);
}

.primary-image {
  width:300px;
  max-height: 600px;
  padding-right: 5px;
}

.mainimageshell {
  position: relative;
  background-color:#fff;
  border-radius:8px;
  float:left;
  width:310px;
  padding:10px;
}

.captionshell {
  margin:0 0 10px 5px;
  background-color:#fff;
  width:410px;
  height:450px;
  padding:0 20px;
  border-radius:8px;
  float:left;
  overflow: scroll;
}

.viewwindow {
  width:300px;
  height:430px;
  overflow-x: hidden;
  position:relative;
}

.fullsizelist{
  position:absolute;
  top:0;
  left:0;
  transition:  left .8s ease;
  -ms-transition:  left .8s ease;
  -o-transition:  left .8s ease;
  -webkit-transition:  left .8s ease;
  -moz-transition:  left .8s ease;
}

.modalImage .image-wrapper {
  text-align: center;
}
.modalImage .image-wrapper img {
  max-width: 770px;
  max-height: 580px;
}
.modalImage .image-description {
  text-align: center;
  margin-top: 10px;
}

.thumbsshell {
  background-color:#fff;
  width:930px;
  padding:10px;
  border-radius:8px;
  float:left;
}

.thumbswrapper {
  overflow-x: scroll;
  width:750px;
  height:70px;
  margin:20px auto;
  overflow-y: hidden;
}

.thumbwrapper {
  float:left;
  height:80px;
}

.thumbnail {
  height:70px;
  padding:2px;
}

.results-shell {
  position: relative;
  margin:0 0 10px 5px;
  background-color:#2E281B;
  width:205px;
  height:350px;
  padding:0 10px;
  border-radius:8px;
  float:left;
  overflow: scroll;
  color: #FEFFFD;
}

.logoshell {
  margin:0 0 0 5px;
  text-align:center;
  background-color:#fff;
  width:175px;
  padding:9px 10px;
  border-radius:8px;
  float:left;
}

.object-title, .no-results{
  padding: 2em;
  font-weight: 900;
  background: #FFF8DE;
}

.artifact-date {
  font-weight: 500;
}
.search-shell {
  position: relative;
  margin: 5px;
  background-color:#343434;
  width:205px;
  height:75px;
  border-radius:8px;
  float:left;
  overflow: scroll;
  color: #FEFFFD;
  background-color:#2E281B;
  margin-left: auto;
  margin-right: auto;
}

#search-btn {
  position: absolute;
  margin: .5em 2em 1em 5em;
}

.centered{
  text-align: center;
}

#paginatedSearchResults {
  margin-left: auto;
  margin-right: auto;
  color: 'red';
}

.results {
  background-color: #769A3D;
  color: #232F13;
}

.no-results-glyphicon {
  color: #B00E32;
}

.results-found {
  color: #49BD18;
}
.search-results-count {
  font-size: 16rpx;
  font-weight: 4r00;
  margin-bottom: 10px;
}

.search-keys {
  color: #8BA47D;
  font-size: 16px;
}

.results-text {
  font-weight: 200;
}
.result-units {
  border-style: double;
  border-width: 1px;
  border-color: #596363;
  border-radius: 3px;
  font-weight: 400;
  padding: 0px 5px 2px 5px;
  margin-bottom: 10px;
}

.grouped-search-field {
  display: block;
  float:left;
  margin: 0px 20px 30px 0px;
}

input, label {
    display:block;
}

.search {
    color: black;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 80px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    float: right;
}
.search:focus {
    width: 165px;
}

button {
-webkit-appearance: none;
outline: none;
border: 0;
background: transparent;
}

#advanced-search {
  text-align: center;
  padding-top: 10px;
}

