body {
  font-family: Helvetica,Arial;
  font-size: 10pt;
  background-color: #DBCFAD;
  background: linear-gradient(to bottom right, white, #2457a9);
}

button {
  -webkit-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

li {
  list-style:none;
  display:inline-block;
}

ul{
  padding:0;
  margin:0;
  white-space:nowrap;
}

.warning{
  color: #f20000e6;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%      { transform: rotateZ(0deg); }
  20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%     { transform: rotateZ(17deg); }
  60%     { transform: rotateZ(16deg); }
  100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

.ng-enter           { animation: slideInUp 0.5s both ease-in; z-index: 8888; }
  // .ng-leave           { animation: slideInUp 0.5s both ease-in; z-index: 9999; }
  // .ng-enter{
  //   opacity: 1;
  // }

  // .ng-leave.ng-leave-active{
  //   opacity: 0;
  // }
 // end animations


 .gallery-container {
  position: relative;
  width: 100%;
}

.bg {
  position:absolute;
  background-color:#0D1212;
  padding: 10px 0px 10px 10px;
  border-radius:8px;
  width: 950px;
  left: 10%;
  right: 10%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron{
  margin-bottom: -6px;
}

.search-gradient {
  background: #FF6B09; /* For browsers not supporting gradients */
  background: -webkit-linear-gradient(left, #FF6B09 , #E3D149);
  background: -o-linear-gradient(right, #FF6B09 , #E3D149);
  background: -moz-linear-gradient(right, #FF6B09 , #E3D149);
  background: linear-gradient(to left, #FF6B09 , #E3D149);
}

.primary-image {
  width:300px;
  max-height: 600px;
  padding-right: 5px;
}

.mainimageshell {
  position: relative;
  background-color:#fff;
  border-radius:8px;
  float:left;
  width:310px;
  padding:10px;
}

.captionshell {
  margin:0 0 10px 5px;
  background-color:#fff;
  width:410px;
  height:600px;
  padding:0 20px;
  border-radius:8px;
  float:left;
  overflow: scroll;
}

.viewwindow {
  width:300px;
  height:579px;
  overflow-x: hidden;
  position:relative;
}

#fullsize {
  height: 75%;
  width: 50%;
}

.fullsizelist{
  position:absolute;
  top:0;
  left:0;
  transition:  left .8s ease;
  -ms-transition:  left .8s ease;
  -o-transition:  left .8s ease;
  -webkit-transition:  left .8s ease;
  -moz-transition:  left .8s ease;
}

#gallery-sample {
  max-width: 550px;
}

.modalImage .image-wrapper {
  text-align: center;
}
.modalImage .image-wrapper img {
  max-width: 770px;
  max-height: 580px;
}
.modalImage .image-description {
  text-align: center;
  margin-top: 10px;
}

.thumbsshell {
  background-color:#fff;
  width:930px;
  // padding:10px 10px 3px 10px;
  border-radius:8px;
}

.thumbswrapper {
  font-size: 2em;
  overflow-x: scroll;
  width:750px;
  height:70px;
  margin:10px auto;
  overflow-y: hidden;
  padding: .5em;
}

.thumbwrapper {
  float:left;
  height:80px;
}

.thumbnail {
  height:70px;
  padding:2px;
}

.results-shell {
  position: relative;
  margin:0 0 10px 5px;
  background-color:#0D1212;
  width:205px;
  height:443px;
  padding:0 10px;
  border-radius:8px;
  float:left;
  overflow: scroll;
  color: #FEFFFD;
}

.logoshell {
  margin:0 0 0 5px;
  text-align:center;
  background-color:#fff;
  width:175px;
  padding:9px 10px;
  border-radius:8px;
  float:left;
}

.object-title, .no-results{
  margin: 2%;
  padding: 2em;
  border-radius: 10px;
  font-weight: 900;
  background: #FFF8DE;
}

.artifact-date {
  font-weight: 500;
}
.search-shell {
  position: relative;
  background-color:#343434;
  width:205px;
  height:75px;
  border-radius:8px;
  overflow: scroll;
  color: #FEFFFD;
  background-color:#0D1212;
  margin-left: auto;
  margin-right: auto;
}

.search {
  color: black;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 80px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right;
}

.search:hover {
  width: 165px;
}

#search-btn {
  position: absolute;
  margin: .5em 2em 1em 5em;
}

#advanced-search {
  text-align: center;
  padding-top: 10px;
}

#advanced-text {
  color: #6488E7;
  text-decoration: none;
}

#advanced-text:hover {
  color: #D0B923;
}

.centered{
  text-align: center;
}

#paginatedSearchResults {
  margin-left: auto;
  margin-right: auto;
  color: 'red';
}

.results {
  background-color: #769A3D;
  color: #232F13;
}

.no-results-glyphicon {
  color: #B00E32;
}

.results-found {
  color: #49BD18;
}
.search-results-count {
  font-size: 16rpx;
  font-weight: 4r00;
  margin-bottom: 10px;
}

.search-keys {
  color: #8BA47D;
  font-size: 16px;
}

.results-text {
  font-weight: 200;
  margin: 0 0 -5px 0;
}
.result-units {
  border-style: double;
  border-width: 1px;
  border-color: #596363;
  border-radius: 3px;
  font-weight: 400;
  padding: 0px 5px 0px 5px;
  margin-bottom: 1px;
}

.grouped-search-field {
  display: block;
  float:left;
  margin: 0px 20px 30px 0px;
}

input, label {
  display:block;
}

#reset {
  float: right;
  text-decoration: none;
  color: #FF2141;
}

.panel-primary {
  background-color: #E9DBBA !important;
}

.panel-body {
  opacity: .8;
}

.day {
  border-style: solid 3px gray;
  background-color: blue;
  margin: 1em;
}

.weather-icon {
  float: right;
  margin: -60px 0 0 0;
}

#sky-home {
  height: 300px;
  width: 100%;
}

#video-background {
  width: 100%;
  height: 100%;
}

#tutorial-sample-header {
  // margin-bottom: 2em;
  margin: 1em 0 3em 0;
  float: left;
}

.about-text{
  padding: 3em 5em 3em 1em;
}

.city {
  font-size: 3em;
  padding-bottom: 1.8em;
}

.country {
  font-size: 3em;
}

.city-dropdown-container{
  text-align: center;
  margin: 0 0 0 0;
}

.forecast-heading {
  font-size: 1.3em;
}

.dropdown-dir {
  margin: auto 0;
}

.dropdown-dir-label {
  font-size: 1.5em;
}